body {
    /*Background image*/
    background-image: url(../pictures/background.jpg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    font-family: Arial;

}

#header {

    height: 70px;
    background-color: dimgrey;
    width: 75%;
    margin: 10px auto 0 auto;
    border-radius: 5px;

}

#logo a {
    color: white;
    font-weight: bold;
    font-size: 37px;
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    display: inline-block;
    margin-top: 12px;
    margin-left: 100px;
}

#mainNav {
    float: right;
    margin-right: 70px;
}

#mainNav ul {
    margin: 0;
}

#mainNav li {
    display: inline;
}

#mainNav li a {
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-top: 9px;
}

#mainNav li a:hover {
    background-color: #ddd;
    color: black;
}

#footer {
    height: 70px;
    background-color: dimgrey;
    width: 75%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    text-align: center;
    margin: 0 auto;
}

#footer p {
    color: white;
    text-align: center;
    margin-top: 28px;
    font-weight: bold;

}

.homePagePicture {
    max-width: 100%;
    margin: 10px auto 0 auto;
    display: block;
    border-radius: 30px;
    position: relative;
    width: 100%;
}

.title {
    position: absolute;
    color: white;
    bottom: 15px;
    left: 20px;

}

.homePageBanner {
    position: relative;
    margin: 0 auto;
    width: 50%;

}

.gameCategoriesContainer {
    display: block;
    width: 100%;
    text-align: center;
}

.gameCategory {
    display: inline-block;
    margin-left: 150px;
    margin-top: 5px;
}
#steam{
    margin-right: -8px;
    margin-left: -8px;
}

.wrapper {
    min-height: calc(100vh - 160px);
}
.gameContainer{
    display: inline-block;
    background-color: lightgray;
    margin-right: 20px;
}
.gameName{
    color: orange;
}
.gameImage{
    height: 350px;
    width: 300px;
}