body {
    /*Background image*/
    background-image: url(../pictures/background.jpg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    font-family: -apple-system;
    font-size: 20px;

}

a {

    text-decoration: none;
}

#header {

    height: 70px;
    background-color: dimgrey;
    width: 75%;
    margin: 10px auto 0 auto;
    border-radius: 5px;

}

#logo a {
    color: white;
    font-weight: bold;
    font-size: 37px;
    text-transform: uppercase;
    float: left;
    display: inline-block;
    margin-top: 12px;
    margin-left: 100px;
}

#logo a:hover {
    transform: scale(1.01);
}

#mainNav {
    float: right;
    margin-right: 50px;
}

#mainNav ul {
    margin: 0;
}

#mainNav li {
    display: inline;
    float: left;
}

#mainNav li a {
    padding: 15px;
    color: black;
    margin-top: 9px;
}

#mainNav li a:hover {
    color: white;
}

.headerLines:hover {
    background-color: #070101;
    color: black;
    border-radius: 5px;
}

#basketIcon:hover {
    transform: scale(1.1);
}

#footer {
    height: 70px;
    background-color: dimgrey;
    width: 75%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    text-align: center;
    margin: 0 auto;
}

#footer p {
    color: white;
    text-align: center;
    margin-top: 28px;
    font-weight: bold;

}

.homePagePicture {
    max-width: 100%;
    margin: 10px auto 0 auto;
    display: block;
    border-radius: 30px;
    position: relative;
    width: 100%;
}

.title {
    position: absolute;
    color: white;
    bottom: 15px;
    left: 20px;

}

.homePageBanner {
    position: relative;
    margin: 0 auto 20px;
    width: 50%;

}

.gameCategoriesContainer {
    display: block;
    width: 100%;
    text-align: center;
}

.gameCategory {
    display: inline-block;
    padding: 0 100px;
    margin-top: 5px;
}

.gameCategory a :hover {
    transform: scale(1.05);
}

.wrapper {
    min-height: calc(100vh - 160px);
}

.gameContainer {
    display: inline-block;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.gameNamePriceContainer {
    color: #281947;
}

.gameImage {
    height: 350px;
    width: 300px;
}

.gameListContainer {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.orderButton {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;

}
.orderButtonLink div:hover {
    background-color: white;
    color: black;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.categoryImage {
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 100%;
}

li a, .dropLink {
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #E9EDF6;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: black;
    border-radius: 3px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.orderCategoryColor1 {
    background-color: #071937;
}

.orderCategoryColor2 {
    background-color: blue;
}

.orderCategoryColor3 {
    background-color: green;
}

.orderButton {
    color: white;
}

#basketList {
    margin: 30px auto;
    background-color: rgba(105, 105, 105, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 65%;
    color: white;
}
#basketList th {
    color: black;
    font-size: 30px;
    text-align: left;
}

.tableFooter{
    font-size: 30px;

}

.checkoutGameImage {
    width: 150px;
    height: 200px;
    border-radius: 3px;
}

#aboutUsContainer {
    width: 40%;
    margin: 20px auto;

}

#aboutUsTextContainer {
    background-color: rgba(80, 105, 150, 0.95);
    border-radius: 20px;
    padding: 1px 10px;
    color: white;
}

#aboutUsPicture {
    width: 100%;
    height: auto;
    border-radius: 5px;

}